*.pyc
cloudformation_deploy.yaml
.pyvenv
.terraform
.idea
.DS_Store
.vscode/
venv/
env/
env_*/
.env
dist/
vendor
*.log
artifacts/
local-config.mk
build/
pkg/
.pytest_cache
.coverage
.lambda_response
pkg/
cover.out
.mypy_cache
*.tfstate
*.tfstate.backup